
@font-face {
    font-family: "roboto";
    src: url(../fonts/roboto/Roboto-Light.ttf);
    font-weight: 300;
}

body {
    margin: 0;
    font-family: "roboto";
}

.todo__main {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;  
    background-color: brown;  
    height: 100vh;
}

h1 {   
    padding-top: 2rem;
    color: rgb(200, 200, 200);
    font-weight: 800;
    font-size: 30px;
}


/*Box*/
.todo__box {    
    margin: auto;
    margin-top: 40px;
    background-color: rgb(200, 200, 200);
    height: 500px;
    width: 360px;
    border-radius: 5px;
    box-shadow: 0 0 9px rgb(50, 50, 50);
}


/*Date*/
.day {
    margin-left: 1rem;
    margin-top: 3rem;
    color: brown;
    font-weight: 600;
}

.date {
    margin-left: 1rem;
    margin-bottom: 2rem;
    color: brown;
    font-weight: 600;
}

.input {
    margin-left: 1rem;    
}


/*List Item Adder*/
.input .todo__input {
    border-radius: 3px;
    border: transparent;
    height: 2rem;
    width: 70%;
    padding-left: 1rem ;
    font-size: medium;
    font-style: italic;
    outline: transparent;
}

.input .plus__btn {
    background-color: rgb(180, 180, 180);
    border-radius: 3px;
    cursor: pointer;
    color: rgb(240, 240, 240);
    outline: transparent;
    border: transparent;
    width: 3.5rem;
    margin-left: 5px;
    height: 2rem;
    font-size: medium;
    text-align: center;
    transition: background-color 0.3s ease-in;
}

.input .plus__btn:hover {
    background-color: green;
}



/*List*/
.item__counter {
    margin-left: 1rem;
    margin-top: 2rem;
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: 91%;
    height: 50%;
    overflow: hidden;
}

.list__item {
    position: relative;
    display: flex;
    height: 50px;
    background-color: rgb(184, 189, 199);
    margin-top: 10px;
    align-items: center;
    border-radius: 3px;
    animation: list 2s 1;
}

@keyframes list{
 0% {
     right: -350px
 }
 50%{
     right: 0
 }
}

.checkbox {
    width:  1.2rem;
    height: 1.2rem;
}

.checkbox:hover {
    cursor: pointer;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 15%;
    outline: transparent;
    border: transparent;
    background-color: rgb(228, 74, 74);
    color: rgb(240, 240, 240);
    border-radius: 0px 3px 3px 0;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
    animation: delete 2s 1;    
}


.delete:hover {
    background-color: rgb(200, 74, 74);
    
}

@keyframes delete {
    0% {
        right: -50px
    }
    50% {
        right:0px
    }
}

/*Complete List*/
.list__complete {
    display: none; /*flex*/
    flex-direction: column;
    background-color: rgb(200, 200, 200);
    border-radius: 0 0 5px 5px;
    height: 35%;
    margin-bottom: -30px;
    padding-bottom: 10px;
}

.complete__counter {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: -2rem;
}

.list__complete--item {
    display: flex;
    background-color: rgb(220, 220, 220);
    border-radius: 3px;
    align-items: center;
    margin-left: 1rem;
    width: 91%;
    margin-bottom: 0.5rem;
}

.list__complete--item i {
    margin-left: 4px;
    font-size: larger;
}

.list__complete--item p {
    text-decoration: line-through;
    margin-left: 4px;
}


/*Box Bottom Buttons*/

.bottom__btn {
    border: transparent;
    background-color: rgb(200, 200, 200);
    font-weight: 700;
    outline: transparent;
    cursor: pointer;
}

.complete__btn {    
    margin-left: 80px;    
}

.no__tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    margin-top: 70px;
}



.no__tasks i {
    color: rgb(117, 117, 252);
    font-size: larger;
}


