
@font-face {
    font-family: "roboto";
    src: url(../fonts/roboto/Roboto-Light.ttf);
    font-weight: 300;
}

body {
    margin: 0;
    font-family: "roboto";
}

.todo__main {
    margin: 0;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;  
    background-color: brown;  
    height: 100vh;
}

h1 {   
    padding-top: 2rem;
    color: rgb(200, 200, 200);
    font-weight: 800;
    font-size: 30px;
}

.todo__box {    
    margin: auto;
    margin-top: 40px;
    background-color: rgb(200, 200, 200);
    height: 500px;
    width: 360px;
    border-radius: 5px;
    box-shadow: 0 0 9px rgb(50, 50, 50);
}

.day {
    margin-left: 1rem;
    margin-top: 3rem;
    color: brown;
    font-weight: 600;
}

.date {
    margin-left: 1rem;
    margin-bottom: 2rem;
    color: brown;
    font-weight: 600;
}

.input {
    margin-left: 1rem;    
}

.input .todo__input {
    border-radius: 3px;
    border: transparent;
    height: 2rem;
    width: 70%;
    padding-left: 1rem ;
    font-size: medium;
    font-style: italic;
    outline: transparent;
}

.input .plus__btn {
    background-color: rgb(180, 180, 180);
    border-radius: 3px;
    cursor: pointer;
    color: rgb(240, 240, 240);
    outline: transparent;
    border: transparent;
    width: 3.5rem;
    margin-left: 5px;
    height: 2rem;
    font-size: medium;
    text-align: center;
    transition: background-color 0.3s ease-in;
}

.input .plus__btn:hover {
    background-color: green;
}

.item__counter {
    margin-left: 1rem;
    margin-top: 2rem;
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: 91%;
    height: 50%;
    overflow: hidden;
}

.list__item {
    position: relative;
    display: flex;
    height: 50px;
    flex-direction: row;
    background-color: rgb(184, 189, 199);
    margin-top: 10px;
    align-items: center;
    border-radius: 3px;
}

.checkbox {
    width:  1.2rem;
    height: 1.2rem;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 15%;
    outline: transparent;
    border: transparent;
    background-color: rgb(228, 74, 74);
    color: rgb(240, 240, 240);
    border-radius: 0px 3px 3px 0;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
}

.delete:hover {
    background-color: rgb(200, 74, 74);
}



